## DATA MANIPULATION ##

#### Data manipulation means changing data so it's easier to understand or use.

###### Remove junk → Delete wrong or extra data
###### Sort stuff → Arrange data by date, name, or number
###### Group things → Put similar data together (like grouping clothes by color)
###### Add or fix things → Fill in missing info or create new columns
###### Combine boxes → Join data from different places into one table

In [35]:
import pandas as pd
data=pd.read_csv("C:/Users/arulr/DA course/Python/Data Preprocessing/Data Manipulation/Dataset/homels.csv")
data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama         2570             864    4887681
1             Pacific      Alaska         1434             582     735139
2            Mountain     Arizona         7259            2606    7158024
3  West South Central    Arkansas         2280             432    3009733
4             Pacific  California       109008           20964   39461588

In [13]:
data.shape # To find the rows and columns structure

(51, 5)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     int64
 3   family_members  51 non-null     int64
 4   state_pop       51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [19]:
#region and state are meant to be strings. covert it to strings
data1=data.convert_dtypes()
data1

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570,864,4887681
1,Pacific,Alaska,1434,582,735139
2,Mountain,Arizona,7259,2606,7158024
3,West South Central,Arkansas,2280,432,3009733
4,Pacific,California,109008,20964,39461588
5,Mountain,Colorado,7607,3250,5691287
6,New England,Connecticut,2280,1696,3571520
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
12,Mountain,Idaho,1297,715,1750536
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
15,West North Central,Iowa,1711,1038,3148618
16,West North Central,Kansas,1443,773,2911359
17,East South Central,Kentucky,2735,953,4461153
18,West South Central,Louisiana,2540,519,4659690
19,New England,Maine,1450,1066,1339057
20,South Atlantic,Maryland,4914,2230,6035802
21,New England,Massachusetts,6811,13257,6882635
22,East North Central,Michigan,5209,3142,9984072
23,West North Central,Minnesota,3993,3250,5606249
24,East South Central,Mississippi,1024,328,2981020
25,West North Central,Missouri,3776,2107,6121623
26,Mountain,Montana,983,422,1060665
27,West North Central,Nebraska,1745,676,1925614
28,Mountain,Nevada,7058,486,3027341
29,New England,New Hampshire,835,615,1353465
30,Mid-Atlantic,New Jersey,6048,3350,8886025
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
34,West North Central,North Dakota,467,75,758080
35,East North Central,Ohio,6929,3320,11676341
36,West South Central,Oklahoma,2823,1048,3940235
37,Pacific,Oregon,11139,3337,4181886
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
39,New England,Rhode Island,747,354,1058287
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
42,East South Central,Tennessee,6139,1744,6771631
43,West South Central,Texas,19199,6111,28628666
44,Mountain,Utah,1904,972,3153550
45,New England,Vermont,780,511,624358
46,South Atlantic,Virginia,3928,2047,8501286
47,Pacific,Washington,16424,5880,7523869
48,South Atlantic,West Virginia,1021,222,1804291
49,East North Central,Wisconsin,2740,2167,5807406
50,Mountain,Wyoming,434,205,577601

In [48]:
data1.info() # Now you can see, object is converted to string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     string
 1   state           51 non-null     string
 2   individuals     51 non-null     Int64
 3   family_members  51 non-null     Int64
 4   state_pop       51 non-null     Int64
dtypes: Int64(3), string(2)
memory usage: 2.3 KB

In [23]:
data1.describe()

        individuals  family_members       state_pop
count          51.0            51.0            51.0
mean    7225.784314     3504.882353   6405637.27451
std    15991.025083     7805.411811  7327257.808679
min           434.0            75.0        577601.0
25%          1446.5           592.0       1777413.5
50%          3082.0          1482.0       4461153.0
75%          6781.5          3196.0       7340946.5
max        109008.0         52070.0      39461588.0

## Renaming Column

In [55]:
#Correcting
# Rename state_pop
data1.rename(columns={"state_pop":"State_population"},inplace=True)
data1

,region,state,individuals,family_members,State_population
0,East South Central,Alabama,2570,864,4887681
1,Pacific,Alaska,1434,582,735139
2,Mountain,Arizona,7259,2606,7158024
3,West South Central,Arkansas,2280,432,3009733
4,Pacific,California,109008,20964,39461588
5,Mountain,Colorado,7607,3250,5691287
6,New England,Connecticut,2280,1696,3571520
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
12,Mountain,Idaho,1297,715,1750536
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
15,West North Central,Iowa,1711,1038,3148618
16,West North Central,Kansas,1443,773,2911359
17,East South Central,Kentucky,2735,953,4461153
18,West South Central,Louisiana,2540,519,4659690
19,New England,Maine,1450,1066,1339057
20,South Atlantic,Maryland,4914,2230,6035802
21,New England,Massachusetts,6811,13257,6882635
22,East North Central,Michigan,5209,3142,9984072
23,West North Central,Minnesota,3993,3250,5606249
24,East South Central,Mississippi,1024,328,2981020
25,West North Central,Missouri,3776,2107,6121623
26,Mountain,Montana,983,422,1060665
27,West North Central,Nebraska,1745,676,1925614
28,Mountain,Nevada,7058,486,3027341
29,New England,New Hampshire,835,615,1353465
30,Mid-Atlantic,New Jersey,6048,3350,8886025
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
34,West North Central,North Dakota,467,75,758080
35,East North Central,Ohio,6929,3320,11676341
36,West South Central,Oklahoma,2823,1048,3940235
37,Pacific,Oregon,11139,3337,4181886
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
39,New England,Rhode Island,747,354,1058287
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
42,East South Central,Tennessee,6139,1744,6771631
43,West South Central,Texas,19199,6111,28628666
44,Mountain,Utah,1904,972,3153550
45,New England,Vermont,780,511,624358
46,South Atlantic,Virginia,3928,2047,8501286
47,Pacific,Washington,16424,5880,7523869
48,South Atlantic,West Virginia,1021,222,1804291
49,East North Central,Wisconsin,2740,2167,5807406
50,Mountain,Wyoming,434,205,577601

### Sorting Ascending order

In [63]:
# sort region values
data1.sort_values("region")

,region,state,individuals,family_members,State_population
35,East North Central,Ohio,6929,3320,11676341
49,East North Central,Wisconsin,2740,2167,5807406
22,East North Central,Michigan,5209,3142,9984072
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
0,East South Central,Alabama,2570,864,4887681
42,East South Central,Tennessee,6139,1744,6771631
24,East South Central,Mississippi,1024,328,2981020
17,East South Central,Kentucky,2735,953,4461153
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
32,Mid-Atlantic,New York,39827,52070,19530351
30,Mid-Atlantic,New Jersey,6048,3350,8886025
44,Mountain,Utah,1904,972,3153550
31,Mountain,New Mexico,1949,602,2092741
28,Mountain,Nevada,7058,486,3027341
26,Mountain,Montana,983,422,1060665
50,Mountain,Wyoming,434,205,577601
2,Mountain,Arizona,7259,2606,7158024
12,Mountain,Idaho,1297,715,1750536
5,Mountain,Colorado,7607,3250,5691287
19,New England,Maine,1450,1066,1339057
21,New England,Massachusetts,6811,13257,6882635
45,New England,Vermont,780,511,624358
39,New England,Rhode Island,747,354,1058287
29,New England,New Hampshire,835,615,1353465
6,New England,Connecticut,2280,1696,3571520
37,Pacific,Oregon,11139,3337,4181886
47,Pacific,Washington,16424,5880,7523869
11,Pacific,Hawaii,4131,2399,1420593
4,Pacific,California,109008,20964,39461588
1,Pacific,Alaska,1434,582,735139
33,South Atlantic,North Carolina,6451,2817,10381615
8,South Atlantic,District of Columbia,3770,3134,701547
46,South Atlantic,Virginia,3928,2047,8501286
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
20,South Atlantic,Maryland,4914,2230,6035802
48,South Atlantic,West Virginia,1021,222,1804291
7,South Atlantic,Delaware,708,374,965479
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
15,West North Central,Iowa,1711,1038,3148618
34,West North Central,North Dakota,467,75,758080
16,West North Central,Kansas,1443,773,2911359
27,West North Central,Nebraska,1745,676,1925614
23,West North Central,Minnesota,3993,3250,5606249
25,West North Central,Missouri,3776,2107,6121623
36,West South Central,Oklahoma,2823,1048,3940235
43,West South Central,Texas,19199,6111,28628666
18,West South Central,Louisiana,2540,519,4659690
3,West South Central,Arkansas,2280,432,3009733

#### Sorting- Descending order

In [73]:
#Descending order
data1.sort_values("region",ascending=False)

,region,state,individuals,family_members,State_population
36,West South Central,Oklahoma,2823,1048,3940235
43,West South Central,Texas,19199,6111,28628666
3,West South Central,Arkansas,2280,432,3009733
18,West South Central,Louisiana,2540,519,4659690
25,West North Central,Missouri,3776,2107,6121623
15,West North Central,Iowa,1711,1038,3148618
27,West North Central,Nebraska,1745,676,1925614
23,West North Central,Minnesota,3993,3250,5606249
41,West North Central,South Dakota,836,323,878698
16,West North Central,Kansas,1443,773,2911359
34,West North Central,North Dakota,467,75,758080
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
48,South Atlantic,West Virginia,1021,222,1804291
40,South Atlantic,South Carolina,3082,851,5084156
33,South Atlantic,North Carolina,6451,2817,10381615
20,South Atlantic,Maryland,4914,2230,6035802
9,South Atlantic,Florida,21443,9587,21244317
46,South Atlantic,Virginia,3928,2047,8501286
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
47,Pacific,Washington,16424,5880,7523869
1,Pacific,Alaska,1434,582,735139
4,Pacific,California,109008,20964,39461588
37,Pacific,Oregon,11139,3337,4181886
19,New England,Maine,1450,1066,1339057
6,New England,Connecticut,2280,1696,3571520
45,New England,Vermont,780,511,624358
39,New England,Rhode Island,747,354,1058287
29,New England,New Hampshire,835,615,1353465
21,New England,Massachusetts,6811,13257,6882635
44,Mountain,Utah,1904,972,3153550
50,Mountain,Wyoming,434,205,577601
2,Mountain,Arizona,7259,2606,7158024
28,Mountain,Nevada,7058,486,3027341
26,Mountain,Montana,983,422,1060665
5,Mountain,Colorado,7607,3250,5691287
12,Mountain,Idaho,1297,715,1750536
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
30,Mid-Atlantic,New Jersey,6048,3350,8886025
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
17,East South Central,Kentucky,2735,953,4461153
42,East South Central,Tennessee,6139,1744,6771631
24,East South Central,Mississippi,1024,328,2981020
0,East South Central,Alabama,2570,864,4887681
14,East North Central,Indiana,3776,1482,6695497
13,East North Central,Illinois,6752,3891,12723071
22,East North Central,Michigan,5209,3142,9984072
35,East North Central,Ohio,6929,3320,11676341
49,East North Central,Wisconsin,2740,2167,5807406

In [75]:
data1["region"] # Just to display only a column

36    West South Central
18    West South Central
43    West South Central
3     West South Central
25    West North Central
15    West North Central
27    West North Central
23    West North Central
41    West North Central
16    West North Central
34    West North Central
10        South Atlantic
46        South Atlantic
9         South Atlantic
33        South Atlantic
20        South Atlantic
7         South Atlantic
40        South Atlantic
48        South Atlantic
8         South Atlantic
11               Pacific
47               Pacific
1                Pacific
4                Pacific
37               Pacific
39           New England
21           New England
29           New England
19           New England
45           New England
6            New England
44              Mountain
50              Mountain
2               Mountain
28              Mountain
26              Mountain
5               Mountain
12              Mountain
31              Mountain
38          Mid-Atlantic
30          Mid-Atlantic
32          Mid-Atlantic
17    East South Central
42    East South Central
24    East South Central
0     East South Central
14    East North Central
13    East North Central
22    East North Central
35    East North Central
49    East North Central
Name: region, dtype: string

In [81]:
data1[["region","state"]] # If you want to display two columns, u hav to put it inside [[]]

                region                 state
36  West South Central              Oklahoma
18  West South Central             Louisiana
43  West South Central                 Texas
3   West South Central              Arkansas
25  West North Central              Missouri
15  West North Central                  Iowa
27  West North Central              Nebraska
23  West North Central             Minnesota
41  West North Central          South Dakota
16  West North Central                Kansas
34  West North Central          North Dakota
10      South Atlantic               Georgia
46      South Atlantic              Virginia
9       South Atlantic               Florida
33      South Atlantic        North Carolina
20      South Atlantic              Maryland
7       South Atlantic              Delaware
40      South Atlantic        South Carolina
48      South Atlantic         West Virginia
8       South Atlantic  District of Columbia
11             Pacific                Hawaii
47             Pacific            Washington
1              Pacific                Alaska
4              Pacific            California
37             Pacific                Oregon
39         New England          Rhode Island
21         New England         Massachusetts
29         New England         New Hampshire
19         New England                 Maine
45         New England               Vermont
6          New England           Connecticut
44            Mountain                  Utah
50            Mountain               Wyoming
2             Mountain               Arizona
28            Mountain                Nevada
26            Mountain               Montana
5             Mountain              Colorado
12            Mountain                 Idaho
31            Mountain            New Mexico
38        Mid-Atlantic          Pennsylvania
30        Mid-Atlantic            New Jersey
32        Mid-Atlantic              New York
17  East South Central              Kentucky
42  East South Central             Tennessee
24  East South Central           Mississippi
0   East South Central               Alabama
14  East North Central               Indiana
13  East North Central              Illinois
22  East North Central              Michigan
35  East North Central                  Ohio
49  East North Central             Wisconsin

### Data Filtering

In [86]:
#Pull records where value on family members is more than 3000
# Pass it twice inside a dataframe
data1[data1["family_members"] > 3000]

,region,state,individuals,family_members,State_population
43,West South Central,Texas,19199,6111,28628666
23,West North Central,Minnesota,3993,3250,5606249
9,South Atlantic,Florida,21443,9587,21244317
8,South Atlantic,District of Columbia,3770,3134,701547
47,Pacific,Washington,16424,5880,7523869
4,Pacific,California,109008,20964,39461588
37,Pacific,Oregon,11139,3337,4181886
21,New England,Massachusetts,6811,13257,6882635
5,Mountain,Colorado,7607,3250,5691287
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
30,Mid-Atlantic,New Jersey,6048,3350,8886025
32,Mid-Atlantic,New York,39827,52070,19530351
13,East North Central,Illinois,6752,3891,12723071
22,East North Central,Michigan,5209,3142,9984072
35,East North Central,Ohio,6929,3320,11676341